{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom ChatApp styles -->
    <link href="{% static 'css/chat.css' %}" rel="stylesheet">
</head>
<body>
{% block content %}{% endblock %}

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{% static 'js/jquery.js' %}" type="text/javascript"></script>
<script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/centrifuge.js' %}" type="text/javascript"></script>

{% block extra_body %}{% endblock %}

</body>
</html>