{% extends 'core/base.html' %}
{% load staticfiles %}

{% block title %}ChatApp - Main{% endblock %}

{# Main Content Window #}
{% block content %}
    <h2>Main ChatApp Window</h2>
    {% if request.user.is_active %}
        <h4>Hello, {{ request.user.first_name|capfirst }}. Let's chat today :) </h4>
    {% endif %}
    <p></p>
    <div id="chatwindow">
        <div id="messageswindow">
            <!-- messages -->
            Hele will be last messages + some older messages for newcomer users or for F5 actions > > >
            <p></p>
            {% if  CHAT_MESSAGES  %}
                {% for CHAT_MESSAGE in CHAT_MESSAGES %}
                    <p><strong>{{ CHAT_MESSAGE.user.first_name }} {{ CHAT_MESSAGE.user.last_name }}</strong>
                        {{ CHAT_MESSAGE.datetime }} <br>
                        {{ CHAT_MESSAGE.message_text }}
                    </p>
                {% endfor %}
            {% endif %}
        </div>
        {# Show the message input field if user is logged in #}
        {% if request.user.is_active %}
            {% csrf_token %}
            <div id="message_input">
                <input class="form-control" type="text" id="message_field" placeholder="Your message...">
            </div>
            </div>
            <button type="submit" id="send_message" class="btn btn-primary btn-lg" style="margin-top: 1em; margin-left: 7px;">Send</button>
        {% endif %}
{% endblock %}

{% block extra_body %}
    <script src="{% static "js/js.cookie.js" %}"></script> {# js.cookie.js for extracting data from cookies #}
    {% include 'core/uchat_js.html' %}
{% endblock %}