<script type="application/javascript">
    $(document).ready(function () {
        // Scroll to Bottom after first 50 newcomer messages receiving
        var $messages_window = $("#messageswindow");
        $messages_window.scrollTop($messages_window.prop("scrollHeight"));

        {# Centrifuge #}
        var centrifuge = new Centrifuge({
            url: 'http://' + document.domain + ':' + 8001,
            user: "{{ CENTRIFUGE_USER }}",
            timestamp: "{{ CENTRIFUGE_TIMESTAMP }}",
            token: "{{ CENTRIFUGE_TOKEN }}",
            debug: true
        });

        var subscription = centrifuge.subscribe("{{ CENTRIFUGE_CHANNEL_NAME }}", function (message) {
            {#            console.log(message);#}
            // Now we have to check what the signal was received
            if (message["data"]["signal_to_client"] === "new_message_published") {
                get_new_messages({{ CHAT_OBJ.id }}, $messages_window);
            }
        });

        centrifuge.connect();
        {# / Centrifuge #}

        {# Preparing Ajax requests #}
        var csrftoken = Cookies.get('csrftoken');
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        {# Setup our ajax to use csrf token obtaied from cookies #}
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
        {# Now we can use Ajax POST requests #}
        {# Lets send mesage to backend #}

        {# Message field handler on sending message by pressing Enter key #}
        $("#message_field").keydown(function (event) {
            var keypressed = event.keyCode || event.which;
            if (keypressed == 13) {
                var $message_field = $("#message_field");
                send_message("{{ CHAT_OBJ.id }}", $message_field.val());
                $message_field.val("");
            }
        });

        {#  Button handler #}
        $("#send_message").click(function () {
            var $message_field = $("#message_field");
            send_message("{{ CHAT_OBJ.id }}", $message_field.val());
            $message_field.val("");
        });
    });

    function send_message(to_chat_id, message_text) {
        $.ajax({
            type: 'POST',
            url: '.',
            data: {
                'message_text': message_text,
                'to_chat_id': to_chat_id
            },
            dataType: 'json',
            success: function (data) {
                console.log(data);
            },
            error : function(xhr,errmsg,err) {
                console.log(xhr.status + ": " + xhr.responseText);
                console.log(errmsg);
                console.log(err);
            }
        });
    }

    function get_new_messages(chat_id, messages_window) {
        $.ajax({
            url: '/chat/' + chat_id + '/new_messages',
            dataType: 'json',
            success: function (data) {
                try {
                    if(data["status"] === "no new messages") {
                        return;
                    }
                    messages_window.append(
                        '<strong>' + data["username"] + '</strong>&nbsp;<small>' + data["date"] + ' at ' +
                        data["time"] + '</small><p>' + data["message_text"] + '</p>'
                    );
                    messages_window.scrollTop(messages_window.prop("scrollHeight"));
                } catch(err) {
                    console.log(data);
                }
            },
            error : function(xhr,errmsg,err) {
                console.log(xhr.status + ": " + xhr.responseText);
                console.log(errmsg);
                console.log(err);
            }
        });
    }
</script>